<% msg.map(function (_msg) { %>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>ERRO!</strong> <%- _msg %>
</div>
<% }) %>

<fieldset>
  <legend><h3>Faça  seu login!</h3></legend>

  <form action="/autentificacao/login" method="POST" class="form-horizontal" role="form"> 


    <div class="form-group">
      <label class="col-sm-2" for="exampleInputPassword1">Digite seu Email</label>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <input name="login"  class="form-control" id="exampleInputPassword1" placeholder="Digite seu login">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2" for="exampleInputPassword1">Digite sua senha</label>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <input name="senha" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2">
        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/usuarios/novo">cadastre-se</a>
      </div>
    </div>
  </form>
</fieldset>
